@layout('layouts/main')
@set('title', 'Mot de passe oublié')

@section('body')
    <form action="{{route('AuthController.forgotPassword')}}" method="POST">
        {{ csrfField() }}
        <input type="email" name="email" id="">
        <input type="submit" value="Réinitialiser">
    </form>
@end

