@layout('layouts/public')
@set('title', 'Mot de passe oublié')

@section('body')
    <form class="space-y-5" action="{{route('AuthController.forgotPassword')}}" method="POST">
        {{ csrfField() }}
        @!input({text:'E-mail',name:'email'})
        @!button({label:'Réinitialiser mon mot de passe',type:'input'})
    </form>
    <a class="text-primary-dark hover:text-primary" href="{{route('AuthController.showLoginForm')}}">Annuler</a>
@end

