@layout('layouts/main')
@set('title', 'Réinitialisation du mot de passe')

@section('body')
    <form action="{{url}}" method="post">
        {{ csrfField() }}
        <input type="password" name="password" id="">
        <input type="submit" value="Changer">
    </form>
@end