@layout('layouts/public')
@set('title', 'Réinitialisation du mot de passe')

@section('body')
    <form action="{{url}}" method="post">
        {{ csrfField() }}
        @!input({text:'mot',name:'password'})
        @!button({label:'Réinitialiser mon mot de passe',type:'input'})
    </form>
@end