<footer class="py-3 text-center bg-white">
    <a class="text-primary hover:text-primary-light hover:underline after:content-['_↗']" href="https://loak.studio" target="_blank" rel="noopener nereferrer">loak.studio</a>
</footer>