<div class="fixed z-50 flex gap-3 p-2 bg-white rounded-md top-5 left-5">
    <figure>
        <img class="w-10" src="/saveurbelge.svg" alt="Logo saveur belge"/>
    </figure>
    <div class="border rounded-md">
        <input class="h-full px-2" type="text">
        <span id="search">
            GO LA 
        </span>
    </div>
    settings
</div>