<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaveurBelge 👨🏻‍🌾 Des produits de chez nous 🥕</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>  
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
@!search({sectors,categories})
<div class="w-screen h-screen p-2">
  <div class="z-0 w-full h-full rounded-md" id="map"></div>
</div>
<div class="fixed flex items-center p-2 transition rounded-md top-5 right-5 bg-gray-50 hover:bg-gray-300">

    @!icons.account()
    <a class="before:w-full before:absolute before:h-full before:top-0 before:left-0" href="{{route('AuthController.showLoginForm')}}">
      Se connecter</a>

</div>
</body>
</html>
