@layout('layouts/main')
@set('title', 'Saveur Belge 🌽 Des produits de chez nous 😁')

@section('body')
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<div class="p-2 w-screen h-screen">
  <div class="z-0 h-full w-full rounded-md" id="map"></div>
</div>

@end