<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{shop.name}} à {{shop.city}} | SaveurBelge </title>
  @entryPointStyles('app')
  @entryPointScripts('app')


    <!-- Primary Meta Tags -->
    <meta name="description" content="{{shop.description}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://saveurbelge.be/commerce/{{shop.slug}}">
    <meta property="og:title" content="{{shop.name}} à {{shop.city}} | Saveur Belge">
    <meta property="og:description" content="{{shop.description}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://saveurbelge.be/commerce/{{shop.slug}}">
    <meta property="twitter:title" content="{{shop.name}} à {{shop.city}} | Saveur Belge">
    <meta property="twitter:description" content="{{shop.description}}">
</head>
<body class="px-4 bg-gray-50">  
    <div class="relative flex items-center justify-center gap-4 my-10">
        <img src="/saveurbelge.svg" class="w-20"/>
        <a href="{{route('ShopsController.showMap')}}" class="before:inset-0 before:absolute">
            <h1 class="text-2xl">SaveurBelge</h1> 
            <p>⬅️ Retour au site</p>
        </a>    
    </div>
<div class="flex flex-col flex-wrap justify-between w-full max-w-6xl p-4 mx-auto bg-white rounded-md md:p-12 mt-9 md:flex-row">
      <div class="md:w-8/12">
        <div  class="flex items-center gap-4 md:gap-12">
          @if(shop.logo)
          <figure class="flex-shrink-0 w-20 h-20 overflow-hidden border rounded-full md:w-40 md:h-40">
            <img class="object-cover w-full h-full" src="/uploads/{{shop.logo}}" alt="Logo de {{shop.name}}"/>
          </figure>
          @else
          <div class="flex items-center justify-center flex-shrink-0 w-20 h-20 overflow-hidden text-4xl text-black bg-gray-300 border rounded-full md:w-40 md:h-40">
            {{shop.name[0].toUpperCase()}}
          </div>
          @endif
          <div>
            <h1 class="text-2xl">{{shop.name}}</h1>
            <span>{{shop.title}}</span>
          </div>
        </div>
        <p class="max-w-[64ch] mt-10">{{shop.description}}</p>
      </div>
      <aside class="flex flex-col gap-8 md:w-3/12">
        <div class="my-4">
          <ul class="flex justify-center w-full gap-5">
            @if(shop.isBio)
            <li>
              @!icons.bio()
            </li>
            @endif
            @if(shop.isProductor)
            <li>
              @!icons.productor()
            </li>
            @endif
            @if(shop.acceptLocalCurrency)
            <li>
              @!icons.currency()
            </li>
            @endif
          </ul>
        </div>
        <a href="https://www.google.be/maps?hl=fr&q={{shop.street}} {{shop.city}}" class="flex items-center gap-5 transition hover:text-primary" target="_blank">
          @!icons.pin()
          {{`${shop.street} à ${shop.city}`}}
        </a>
        @if(shop.phone)
          <a  href="tel:{{shop.phone}}" target="_blank" class="flex items-center gap-5 transition hover:text-primary" >
            @!icons.phone()
            {{shop.phone}}
          </a>
        @endif
        <div class="flex justify-center w-full gap-6">
          @if(shop.instagram)
          <a class="transition text-primary hover:text-primary-light" target="_blank" rel="noopener noreferer" href="https://instagram.com/{{shop.instagram}}">
            @!icons.instagram()
          </a>
          @endif
          @if(shop.facebook)
          <a class="transition text-primary hover:text-primary-light" target="_blank" rel="noopener noreferer" href="https://facebook.com/{{shop.facebook}}">
            @!icons.facebook()
            </a>
          @endif
          @if(shop.website)
          <a class="transition text-primary hover:text-primary-light" target="_blank" rel="noopener noreferer" href="{{shop.website}}">
            @!icons.website()
          </a>
          @endif
        </div>
      </aside>
</div>

     
<p class="mx-auto mt-10 mb-12 text-center md:mt-24">Quelque chose ne va pas avec ce commerce ? <a href="mailto:contact@saveurbelge.be" class="transition text-primary hover:text-primary-light">Contactez-nous</a></p>
</body>
</html>