@layout('layouts/main')
@set('title','Ajouter mon établissement')
@section('body')
<p class="mt-10"> Aie. C'est action vous a été refusée. Vous pouvez <a href="mailto:hello@saveurbelge.be">nous contacter</a> s'il s'agit d'une erreur. </p>
<a href="/">Retour à la carte</a>
@end