<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{shop.name}} à {{shop.addressCity}} | SaveurBelge </title>
  @entryPointStyles('app')
  @entryPointScripts('app')


    <!-- Primary Meta Tags -->
    <meta name="description" content="{{shop.description}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://saveurbelge.be/commerce/{{shop.slug}}">
    <meta property="og:title" content="{{shop.name}} à {{shop.addressCity}} | Saveur Belge">
    <meta property="og:description" content="{{shop.description}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://saveurbelge.be/commerce/{{shop.slug}}">
    <meta property="twitter:title" content="{{shop.name}} à {{shop.addressCity}} | Saveur Belge">
    <meta property="twitter:description" content="{{shop.description}}">
</head>
<body class="bg-white md:bg-grey-bg font-main">  
    @!navbar()
    <div class="flex flex-col flex-wrap justify-between w-full max-w-6xl p-4 mx-auto bg-white rounded-md md:p-12 mt-9 md:flex-row">
          <div class="md:w-8/12">
            <div  class="flex items-center gap-4 md:gap-12">
              <figure class="w-20 h-20 overflow-hidden rounded-full md:w-40 md:h-40">
                <img class="object-cover w-full h-full" src="/uploads/{{shop.logo}}" alt="Logo de {{shop.name}}"/>
              </figure>
              <div>
                <h1 class="text-2xl md:mb-3 lg:text-5xl">{{shop.name}}</h1>
                <span>{{shop.sector}}</span>
              </div>
            </div>
            <p class="my-10">{{shop.description}}</p>
          </div>
          <aside class="flex flex-col gap-8 md:w-3/12">
            <div class="">
              <ul class="flex justify-center w-full gap-5">
                @if(shop.optionIsBio)
                <li>
                  @!icons.bio()
                </li>
                @endif
                @if(shop.optionIsProductor)
                <li>
                  @!icons.productor()
                </li>
                @endif
                @if(shop.optionAcceptLocalCurrency)
                <li>
                  @!icons.currency()
                </li>
                @endif
              </ul>
            </div>
            <div class="flex flex-wrap justify-center gap-2">
              @each(c in categories)
                <span class="px-5 py-1 text-white rounded bg-primary">{{c}}</span>
              @endeach
            </div>
            <a href="https://www.google.be/maps?hl=fr&q={{shop.addressNumber}} {{shop.addressStreet}} {{shop.addressCity}}" class="flex items-center gap-5 transition hover:text-primary" target="_blank">
              @!icons.pin()
              {{`${shop.addressNumber}, ${shop.addressStreet} à ${shop.addressCity}`}}
            </a>
            @if(shop.phone)
              <a  href="tel:{{shop.phone}}" target="_blank" class="flex items-center gap-5 transition hover:text-primary" >
                @!icons.phone()
                {{shop.phone}}
              </a>
            @endif
          </aside>
          <div class="flex justify-center w-full gap-6 mt-10 md:justify-start md:mt-0">
            @if(shop.instagramUsername)
            <a class="transition text-primary-dark hover:text-primary" target="_blank" rel="noopener noreferer" href="https://instagram.com/{{shop.instagramUsername}}">
              @!icons.instagram()
            </a>
            @endif
            @if(shop.facebookUsername)
            <a class="transition text-primary-dark hover:text-primary" target="_blank" rel="noopener noreferer" href="https://facebook.com/{{shop.facebookUsername}}">
              @!icons.facebook()
              </a>
            @endif
            @if(shop.websiteUrl)
            <a class="transition text-primary-dark hover:text-primary" target="_blank" rel="noopener noreferer" href="{{shop.websiteUrl}}">
              @!icons.website()
            </a>
            @endif
          </div>
          <p class="mx-auto mt-10 text-center md:mt-24">Quelque chose ne va pas avec ce commerce ? <a href="mailto:#" class="transition text-primary-dark hover:text-primary">Contactez-nous</a></p>
    </div>
</body>
</html>
