@layout('layouts/main')
@set('title', 'Mon compte')

@section('body')
<div class="flex flex-col max-w-sm gap-4 mx-auto">
    <h2 class="text-2xl">{{auth.user.firstName}} {{auth.user.lastName}} </h2>
    <p>{{auth.user.email}}</p>
    @!button({label:'Modifier mon mot de passe',href:route('DashboardController.showEditPassword')})
    @!button({label:'Supprimer mon compte', href:route('DashboardController.showDeleteAccount')})
</div>
@end