@layout('layouts/main')
@set('title', 'Users')

@section('body')
<div>
    <h2 class="text-2xl">{{auth.user.firstName}} {{auth.user.lastName}} </h2>
    <p>{{auth.user.email}}</p>
    @!button({label:'Modifier mon mot de passe',href:route('DashboardController.showEditPassword')})
    @!button({label:'Supprimer mon compte'})
</div>
@end