@layout('layouts/main')
@set('title', 'Supprimer mon compte')

@section('body')
<div class="flex flex-col max-w-sm gap-4 mx-auto">
    <h2>Attention</h2>
    <p>Êtes-vous certain de vouloir supprimer votre compte?<p>
    <form action="{{route('DashboardController.deleteAccount')}}" method="post">
    {{ csrfField() }}

    @!button({label:'Annuler',href:route('DashboardController.showDashboard')})
        @!button({type:'input',label:'Suppriemr'})
    </form>
</div>
@end