@layout('layouts/main')
@set('title', 'Supprimer mon commerce')

@section('body')
<div class="flex flex-col max-w-sm gap-4 mx-auto">
    <h2>Attention</h2>
    <p>Êtes-vous certain de vouloir supprimer votre commerce?<p>
    <form action="{{route('DashboardController.deleteShop',{id:id})}}" method="post">
    {{ csrfField() }}
    @!button({href:route('DashboardController.showDashboard'),label:'Annuler'})
        @!button({type:'input',label:'Supprimer'})
</form>
</div>
@end