@layout('layouts/dashboard')
@set('title', 'Users')

@section('body')
<div>
    <form class="grid grid-cols-12 gap-4 items-center" action="{{route('DashboardController.editAccount')}}" method="post">
        {{ csrfField() }}
        @!input({class:"col-span-12",text:"Nom",name:"firstName",value:auth.user.firstName})
        @!input({class:"col-span-12",text:"Prénom",name:"lastName",value:auth.user.lastName})
        <input type="submit" value="envoyer">
    </form>
</div>
@end