@layout('layouts/dashboard')
@set('title', 'Users')

@section('body')
<div>
    <form class="grid grid-cols-12 gap-4 items-center" action="{{route('DashboardController.editPassword')}}" method="post">
        {{ csrfField() }}
        @!input({class:"col-span-12",text:"Nouveau mot de passe",name:"password"})
        @!input({class:"col-span-12",text:"Confirmation",name:"password_confirmation"})
        <input type="submit" value="envoyer">
    </form>
</div>
@end