@layout('layouts/admin')
@set('title', 'Users')

@section('body')
    <form action="{{route('AdminsController.editCategory',{id:category.id})}}" method="post">
        {{ csrfField() }}
        @!input({text:'Nom',class:"col-span-12",value:category.name,name:'name'})
        <input type="submit" value="Save">
    </form>
    <a href="{{route('AdminsController.showSectorsAndCategories')}}">Annuler</a>
@end