@layout('layouts/admin')
@set('title', 'Users')

@section('body')
    <form action="{{route('AdminsController.editSector',{id:sector.id})}}" method="post">
        {{ csrfField() }}
        <input type="text" name="name" value="{{sector.name}}" id="">
        <input type="submit" value="Save">
    </form>
    <a href="{{route('AdminsController.showSectorsAndCategories')}}">Annuler</a>
@end