@layout('layouts/admin')
@set('title', 'Commerces')

@section('body')
<ul>
    @each(shop in shops)
        <li>{{shop.name}} - <a href="{{route('AdminsController.showEditShop',{id:shop.id})}}">Modifier</a>  </li>
    @end
</ul>
<a href="{{route('AdminsController.showCreateShop')}}">Ajouter un commerce</a>
@end