@layout('layouts/admin')
@set('title', 'Commerces')

@section('body')
<div class="max-w-64ch flex flex-col items-start">
    <ul>
        @each(shop in shops)
            <li><a class="hover:bg-gray-100 transition p-3 rounded-md my-2" href="{{route('AdminsController.showEditShop',{id:shop.id})}}">{{shop.name}}</a>  </li>
        @end
    </ul>
    <a class="text-primary hover:text-primary-dark transition" href="{{route('AdminsController.showCreateShop')}}">Ajouter un commerce</a>
</div>
@end