@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Comfortaa';
    src: url("../../public/fonts/Comfortaa-Medium.ttf");
  }
#main{
    font-family: 'Comfortaa';
}

[x-cloak] { display: none !important; }
.leaflet-tooltip{
  @apply hidden md:block;
}