<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN | {{title}}</title>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body hx-boost="true">

  <main>
    <div> 
        <a href="/">Index</a>
        <nav>
            
                <a href="{{route('AdminsController.showDashboard')}}">Index</a> //
                <a href="{{route('AdminsController.showUsers')}}">Utilisateurs</a> //
                <a href="{{route('AdminsController.showShops')}}">Shops</a> //
                <a href="{{route('AdminsController.showSectorsAndCategories')}}">Catégories et secteurs</a>
            
        </nav>
        @!section('body')
    </div>
  </main>
</body>
</html>
