<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN | {{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <a href="/">Homepage</a>
  <nav>
      <a href="{{route('AdminsController.showDashboard')}}">Index</a> //
      <a href="{{route('AdminsController.showUsers')}}" >Utilisateurs</a> //
      <a href="{{route('AdminsController.showShops')}}">Shops</a> //
      <a href="{{route('AdminsController.showSectorsAndCategories')}}">Catégories et secteurs</a>
  </nav>
  <div>
    @!section('body')
  </div>
</body>
</html>
