<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN | {{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="">
  @!navbar()
  <div class="flex">
    <aside class="fixed flex flex-col justify-center px-4 w-60">
      <nav class="flex flex-col">
        <a before="📊" class="before:content-[attr(before)] before:mr-2" href="{{route('AdminsController.showDashboard')}}">Stats</a> 
        <a before="👨🏻‍🌾" class="before:content-[attr(before)] before:mr-2" href="{{route('AdminsController.showUsers')}}" >Utilisateurs</a> 
        <a before="🏬" class="before:content-[attr(before)] before:mr-2" href="{{route('AdminsController.showShops')}}">Shops</a> 
        <a before="🤖" class="before:content-[attr(before)] before:mr-2" href="{{route('AdminsController.showSectorsAndCategories')}}">Secteurs</a>
        <a before="🏠" class="before:content-[attr(before)] before:mr-2" href="{{route('DashboardController.showDashboard')}}">Mon dashboard</a>
        <a before="🔎" class="before:content-[attr(before)] before:mr-2" href="{{route('SearchesController.showSearchForm')}}">Homepage</a>
      </nav>
  </aside>

    <main class="flex justify-center items-center w-full py-20">
      @!section('body')
    </main>
  </div>

</body>
</html>
