<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon compte | {{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
 

    <h2>Dashboard</h2>
    @unless(hideAside)
    <p>Mes commerces</p>
    <ul>
        @if(shops.length <= 3)
        <li><a href="{{route('DashboardController.showAddShop')}}">Ajouter un commerce</a></li>
        @endif
        <li>Mes commerces:
            <ul>
                @each(shop in shops)
                    <li class="ml-2"><a href="{{route('DashboardController.showShop',{id:shop.id})}}">{{shop.name}}</a></li>
                @endeach
            </ul>
        </li>
        <li><a href="{{route('DashboardController.showAccount')}}">Mon compte</a></li>
    </ul>
    @end
    <div> 
        <div>
          @!section('body')
        </div>
    </div>

</body>
</html>
