<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | Dashboard</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  @!navbar()
  <div class="flex md:flex-row flex-col w-full">
    @!dashboard.sidebar({selectedShop,shops,hideAside:hideAside? true:false})
    @!section('body')
  </div>
</body>
</html>
