<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | Dashboard</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="h-screen overflow-y-hidden">
  @!navbar()
  <div class="flex h-full">
    @!component('components/dashboard/sidebar',{
      selectedShop,shops
    })
    @!section('body')


  </div>

</body>

</html>
