@tailwind base;
/* Write your global styles here, in PostCSS syntax */

@layer base {
    h2{
        @apply text-brown font-bebas text-4xl text-center my-4;
    }
    p{
        @apply text-xl;
    }
    body{
        @apply px-4;
    }
  }
  
@tailwind components;
@tailwind utilities;