@tailwind base;
/* Write your global styles here, in PostCSS syntax */

@layer base {
    h2{
        @apply text-brown font-bebas text-4xl text-center my-4;
    }
    h4{
        @apply text-white font-bebas text-3xl;
    }
  }
  
@tailwind components;
@tailwind utilities;